@font-face {
    font-family: Montserrat;
    src: url('./assets/Montserrat/static/Montserrat-Regular.ttf');
}

*, body {
    margin: 0;
    padding: 0;
}

html, body, #root {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    max-width: 100%;
    font-size: 100%;
    scroll-behavior: smooth;
    scroll-padding-top: 90px;
}

body {
    margin: 0;
    font-family: Montserrat, sans-serif !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
